*{
    margin: 0%;
    padding: 0%;
    border: 1px solid black;
}
body{
    padding-top: 90px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 1px solid #DCE6ED;
    box-shadow: 0px 2px 8px rgba(15, 44, 76, 0.08);
    background-color: #3A3A3A;
    padding: 1%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
header nav{
    width: 50%;
}
header button a{
    text-decoration: none;
    color: #D69E30;
    padding: 2%;
}
header a{
    width: 18%;
}
header a img{
    width: 22%;
}
header nav{
    width: 50%;
    border: none;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    border: none;
}
header nav ul li{
    display: inline-block;
    border: 2px solid white;
    padding: 1%;
    border-radius: 10px;
}

header nav ul li:hover{
    background-color: white;
    border: 2px solid #3A3A3A;
}

header nav ul li:hover a{
    color: #3A3A3A;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}
header button{
    font-size: 100%;
    width: 7%;
    margin-right: 1%;
    background-color: #3A3A3A;
    border-color: white;
    border-radius: 10px;
}



footer{
    background-color: #3A3A3A;
}
footer section{
    clear: both;
}
footer section div{
    width: 25%;
    justify-content: space-evenly;
    display: inline-block;
    margin-left: 4%;
    margin-right: 2%;
}
footer section h2, footer section h3{
    color:white ;
    font-weight: 110%;
}
footer section ul{
    list-style-type: none;
}
footer section ul li{
    text-align: center;
}

footer section ul li a{
    color: white;
    text-decoration: none;
    font-weight: 110%;
}